<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="#/">Accueil</a></li>
        <li><a href="#/apropos">A propos</a></li>
        <li><a href="#/connexion">Connexion</a></li>
    </ul>
    <h3 class="muted">Carnets</h3>
</div>

<hr />

<ol class="breadcrumb">
    <li><a href="index.html">Accueil</a></li>
    <li><a href="carnet_listing.html">Mes carnets</a></li>
    <li class="active">Astronomie</li>
</ol>

<h1>Edit a notebook</h1>
    <pre>
        {{ notebook | json }}
    </pre>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputTitre" class="col-sm-2 control-label">Titre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitre" placeholder="Title" ng-model="notebook.title">
        </div>
    </div>
    <div class="form-group">
        <label for="inputText" class="col-sm-2 control-label">Texte</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="inputText" ng-model="notebook.description"></textarea>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg" ng-click="updateNotebook(notebook)">Save</button>
        </div>
    </div>
</form>