<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="#/">Accueil</a></li>
        <li class="active"><a href="#/apropos">A propos</a></li>
        <li><a href="#/connexion">Connexion</a></li>
    </ul>
    <h3 class="muted">Carnets</h3>
</div>

<hr />
<h1>A propos</h1>

<div class="row-fluid marketing">
    <div class="span6">
        <h4>Des carnets thématiques</h4>
        <p>Pour estampiller vos résultats sportifs, vos récits de voyage ou vos fiches cuisines !</p>

        <h4>Un service bidon...</h4>
        <p>...Dont le seul but est de se familiariser avec une technologie</p>
        
        <h4>Angular.js</h4>
        <p>Ce site est réalisé avec angular.js</p>
    </div>

</div>