<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#/">Accueil</a></li>
        <li><a href="#/apropos">A propos</a></li>
        <li><a href="#/connexion">Connexion</a></li>
    </ul>
    <h3 class="muted">Carnets</h3>
</div>

<hr />

<div class="jumbotron">
    <h1>Mes carnets !</h1>

    <p class="lead">Avec des choses époustouflantes à l'intérieur !!</p>
    <a class="btn btn-large btn-success" href="#/inscription">Je m'inscris !</a>
</div>

<hr />

<div class="row-fluid marketing">
    <div class="span6">
        <h4>La facilité même !</h4>
        <p>Créez-vous un compte d'accès et hop, c'est parti !</p>

        <h4>Des carnets thématiques</h4>
        <p>Pour estampiller vos résultats sportifs, vos récits de voyage ou vos fiches cuisines !</p>

        <h4>illimité</h4>
        <p>Créez autant de pages que vous le souhaitez dans autant de carnets !!</p>
    </div>
</div>