<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="#/">Accueil</a></li>
        <li><a href="#/apropos">A propos</a></li>
        <li><a href="#/connexion">Connexion</a></li>
    </ul>
    <h3 class="muted">Notebooks</h3>
</div>

<hr/>

<ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">My notebooks</li>
</ol>


<h1>Mes carnets</h1>

<table class="table table-condensed table-hover">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Last modification</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="notebook in notebooks">
        <td>{{notebook.idNotebook}}</td>
        <td><a href="#/notebook/{{notebook.idNotebook}}">{{notebook.title}}</a></td>
        <td>{{notebook.dateModification}}</td>
        <td>
            <a href="#/notebook_edit/{{notebook.idNotebook}}" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-edit"></span> edit
            </a>
            <button type="button" class="btn btn-danger btn-xs" ng-click="delete(notebook.idNotebook)">
                <span class="glyphicon glyphicon-remove"></span> delete
            </button>
        </td>
    </tr>
    </table>

<a class="btn btn-primary btn-lg" href="#/notebook_edit/0" role="button">Créer un nouveau carnet</a>