<div class="masthead">
    <ul class="nav nav-pills pull-right">
        <li><a href="#/">Accueil</a></li>
        <li><a href="#/apropos">A propos</a></li>
        <li><a href="#/connexion">Connexion</a></li>
    </ul>
    <h3 class="muted">Carnets</h3>
</div>

<hr />


<h1>Inscription</h1>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputNom" class="col-sm-3 control-label">Nom</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputNom" placeholder="Nom">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-3 control-label">Adresse e-mail</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputEmail" placeholder="Adresse e-mail">
        </div>
    </div>
    <div class="form-group">
        <label for="inputLogin" class="col-sm-3 control-label">Login</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLogin" placeholder="Login">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label">Mot de passe</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPassword" placeholder="Mot de passe" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary btn-lg">Créer mon compte</button>
        </div>
    </div>
</form>